streamlit==1.32.0
opencv-python-headless==4.9.0.80
tensorflow==2.16.1
pytesseract==0.3.10
easyocr==1.7.1
geopy==2.4.1
deepface==0.0.81
google-cloud-vision==3.5.0
numpy==1.26.4
Pillow==10.2.0
python-dotenv==1.0.1
pandas==2.1.4
